@import "tailwindcss";

.movie-scroll-row {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.movie-scroll-row::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}